html, body {
    margin: 0;
    width: 100%;
    min-height: 100%;
}

body {
    font-family: Georgia, serif;
    background: #b58bd4;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* MAIN CONTAINER */

.songs-container {
    width: 750px;
    min-height: 750px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* BIG STAR */

.star {
    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scaleX(1.15);

    font-size: 900px;
    line-height: 1;

    color: white;
    opacity: 0.8;

    z-index: 0;
    pointer-events: none;
}


/* CONTENT */

.songs-content {
    position: relative;
    z-index: 1;

    width: 600px;

    text-align: center;

    padding-top: 40px;
    padding-bottom: 40px;
}

h1 {
    font-s
